* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*background-color: var(--main-background);
    */
    font-family: var(--main-font-full);
}

body {
    background-color: var(--main-background);
    color: var(--main-branco);
}

img {
    width: 100px;
    height: auto;
}

.header {
    padding: 20px;
}

.tudao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.menu {
    height: 100vh;
    width: 20%;
    background-color: black;
}

.container {
    display: flex;
    width: 90%;
}

.caixa-esquerda {
    display: flex;
    flex-direction: row;
    color: var(--main-branco);
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    height: 90%;
}

.esquerda {
    width: 100%;
    display: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-menu {
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 16vw;
    height: 10vh;
    color: var(--main-vermelho-primario);
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.botao-menu:hover {
    color: white;
    background-color: var(--main-vermelho-primario);
    transition: 0.25s ease-in-out;
}

.direita {
    padding: 10px 10px 10px 10px;
    width: 100%;
    background-color: #191919;
    width: 80%;
    height: 100vh;
    padding-top: 5vh;
}

.caixa-h1-adm {
    display: flex;
    justify-content: center;
    padding-bottom: 10vh;
}

.caixa-h2-adm {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

table {
    border: 1px solid white;
    border-radius: 8px;
}

.tabela-adms table {
    padding: 20px;
    width: 100%;
}

.tabela-adms td {
    padding: 20px;
}

.botao-table {
    border: none;
    background-color: #191919;
    color: white;
    cursor: pointer;
}

.botao-table:hover {
    color: var(--main-vermelho-terciario);
    transition: 0.25s ease-in-out;
}

/* Css do modal cadastrar adm */

.corpo {
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.container-modal {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180.03deg, rgba(255, 255, 255, 0.048) 0.03%, rgba(255, 255, 255, 0.0495) 99.97%);
    width: 345px;
    height: 480px;
    border-radius: 20px;
}

.img-login{
    height: 480px;
}

.eye {
    margin: -35px 0 0 200px;
}

.eye i {
    cursor: pointer;
font-size: 20px;
    right: 5%;
}

.back {
    width: 100%;
    padding: 20px 0 0 20px;
}

.back span {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.top-logo {
    display: flex;
    padding: 35px 0 10px 0;
    justify-content: center;
}

.top-logo .logo {
    width: 250px;
}

.info-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.info-input span {
    color: #fff;
    font-size: 15px;
}

.info-input a {
    color: #fff;
}

.info-input input {
    background-color: rgba(46, 46, 46, 1);
    border-radius: 6px;
    width: 250px;
    height: 30px;
    border: none;
    text-indent: 20px;
    color: #fff;
    font-size: 15px;
}

.containerCodigo {
    width: 248px;
    border-radius: 6px;
    height: 30px;
    background-color: rgba(46, 46, 46, 1);
    display: flex;
    text-indent: 20px;
    align-items: center;
}


.button-logar{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 35px;
}

.button-login {
    width: 250px;
    cursor: pointer;
    font-size: 13px;
    padding: 1.5vh 1.8vw;
    border-radius: 11px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #650d11, #930e15);
    border: none;
    font-size: 15px;
}

.button-login:hover {
    background: linear-gradient(to right, #660a0e, #70060c);
}

#FecharModal {
    cursor: pointer;
}