* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.container .lateral {
    height: 100%;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 25px; */
    background: #000;
    box-shadow: -1px 4px 11px rgba(0, 0, 0, 0.13);
}

.lateral .listaBaixo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista a i {
    font-size: 30px;
    color: #FFF;
}

.lista span {
    color: #FFF;
    font-size: 18px;
}

.lista.destaque .lista {
    color: rgba(191, 25, 34, 1);

}

.destaque:before {
    color: rgba(191, 25, 34, 1);

}

.navHeader {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 70%;
    padding: 10px;
}

.navHeader span {
    font-size: 16px;
    color: #FFF;
    padding: 0 0 20px 0;
}

.navHeader img {
    width: 105px;
}


.navegacão {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navegacão ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.navegacão ul li {
    display: flex;
    align-items: center;
    height: 65px;
    list-style: none;


}

.navegacão ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    gap: 15px;
    letter-spacing: 1px;
    width: 100%;
}

.navegacão ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

/* fim do menu */

.container {
    background-color: #1a1a1a;
}

.areaDash {
    display: flex;
    width: 82%;
    flex-direction: column;
    padding: 30px 35px 0 35px;
}

.topDash {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 35px 35px 35px;
}

.nomeNome a {
    color: rgb(191, 25, 34, 1);
    font-size: 2.1rem;
}

.nomeNome span {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    color: #FFF;
}

.nomeNome {
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
}

.topDash .tittle {
    font-size: 25px;
    font-weight: 600;
    color: #FFF;
}

.info-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-input span {
    color: #fff;
    font-size: 15px;
    display: flex;
}

.info-input a {
    color: #fff;
}

.info-input input {
    background-color: rgba(46, 46, 46, 1);
    border-radius: 6px;
    width: 500px;
    height: 30px;
    border: none;
    text-indent: 20px;
    color: #fff;
    font-size: 15px;
}

.containerCodigo {
    width: 500px;
    border-radius: 6px;
    height: 30px;
    background-color: rgba(46, 46, 46, 1);
    display: flex;
    text-indent: 20px;
    align-items: center;
    margin-top: 10px;
}

.button-logar {
    display: flex;
    justify-content: center;
    width: 48%;
    padding: 35px;
}

.button-login {
    width: 250px;
    cursor: pointer;
    font-size: 13px;
    padding: 1.5vh 1.8vw;
    border-radius: 11px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #650d11, #930e15);
    border: none;
    font-size: 15px;
}

.button-login:hover {
    background: linear-gradient(to right, #660a0e, #70060c);
}

@media screen and (max-Width: 600px) {

    .corpo {
        align-items: center;
    }

    .img-login {
        display: none;
    }
}

.spanInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
}