.chats-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-chart span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 30px 15px;
}

.KPI span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.KPI {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-chart {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 330px;
    height: 278px;
    justify-content: center;
    border: #FFF solid 1px;
    border-radius: 7px;
}


.containerKpi {
    display: flex;
    border: #FFF solid 1px;
    width: 330px;
    height: 120px;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.containerKpi2 {
    display: flex;
    border: #FFF solid 1px;
    width: 330px;
    height: 148px;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #5f070c;
    border-radius: 7px;
    border: 2px solid #4e0909;
}

.containerKpi2 span {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    gap: 20px;
}

.containerKpi2 .qtdProcessos {
    font-size: 14px;
    color: #64748B;
    letter-spacing: 1px;
    display: inline-block;
}

.containerKpi span {
    font-size: 16px;
    font-weight: 600;
}

.containerKpi .info {
    font-size: 20px;
}

.containerGraphi {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 400px;
    height: 278px;
    justify-content: center;
    border: #FFF solid 1px;
    border-radius: 7px;
}

.containerGraphi span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.containerGraphi .littleInfo {
    font-size: 15px;
    font-weight: normal;
}

.containerGraphi span {
    font-size: 16px;
    margin-left: 15px;
}

.listaMaquinas {
    padding: 20px;
    display: flex;
    width: 450px;
    height: 225px;
    flex-direction: column;
    gap: 20px;
    background-color: #161616;
    margin-top: 20px;
    border-radius: 7px;
}

.listaMaquinas span {
    color: #FFF;
}

.listaMaquinas .titleMaquina {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    margin: 0 0 0 15px;
}

.containerColTittle{
    display: flex;
    justify-content: space-between;
    background-color: #0F0F0F;
    height: 30px;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

.containerColTittle #regiao {
    color: #E32832;
}

.listaMaquinas a{
    text-decoration: none;
}

.containerColTittle:hover{
    background-color: #090909;
    transition: .5s;
    /* transform: scale(1.1); */
}

.chart-bottom{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerGraphi2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 450px;
    height: 225px;
    justify-content: center;
    border-radius: 1 0px;
    background-color: #161616;
    margin-top: 20px;
}

.containerGraphi2 span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.containerGraphi2 .littleInfo {
    font-size: 15px;
    font-weight: normal;
}

.containerGraphi2 span {
    font-size: 16px;
    margin-left: 15px;
}

.chart1 {
    display: flex;
    height: 160px;
    margin: 0 0 0 10px;
}