@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --main-background: #000000;
    --main-branco: #e6e6e6;
    --main-vermelho-primario: #92131a;
    --main-vermelho-segundario: #bf1922;
    --main-vermelho-terciario: #e32832;
    --main-font-full: 'Poppins', sans-serif;
    --main-primary-btn:
}