.chats-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-chart span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 15px;
}

.KPI span {
    color: #FFF;
    font-size: 18px;
    /* font-weight: 600; */
}

.KPI {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-chart {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 330px;
    height: 278px;
    justify-content: center;
    border: #FFF solid 1px;
    border-radius: 7px;
}


.containerKpi {
    display: flex;
    border: #FFF solid 1px;
    width: 330px;
    height: 280px;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #5f070c;
    border-radius: 20px;
    border: 2px solid #4e0909;
}

.caixa {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    padding: 10px;
    border-radius: 10px;
}

.containerKpi2 {
    display: flex;
    border: #FFF solid 1px;
    width: 330px;
    height: 148px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.containerKpi2 span {
    display: flex;
    font-size: 16px;
    gap: 20px;
}

.containerKpi2 .qtdProcessos {
    font-size: 14px;
    color: #64748B;
    letter-spacing: 1px;
    display: inline-block;
}

.containerKpi .span {
    font-size: 16px;
}

.containerKpi .info {
    font-size: 16px;
}

.containerKpi .destaque {
    font-size: 16px;
    color: #E32832;
}

.containerGraphi {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 400px;
    height: 278px;
    justify-content: center;
    border: #FFF solid 1px;
    border-radius: 7px;
}

.containerGraphi span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.containerGraphi .littleInfo {
    font-size: 15px;
    font-weight: normal;
}

.containerGraphi span {
    font-size: 16px;
    margin-left: 15px;
}

.listaMaquinas {
    padding: 20px;
    display: flex;
    width: 450px;
    height: 225px;
    flex-direction: column;
    gap: 20px;
    background-color: #161616;
    margin-top: 20px;
    border-radius: 10px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #5f070c;
    border-radius: 7px;
    border: 2px solid #4e0909;
}

.listaMaquinas span {
    color: #FFF;
}

.infoLista {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.listaMaquinas .titleMaquina {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    margin: 0 0 0 20px;
}

.containerColTittle {
    display: flex;
    justify-content: space-between;
    background-color: #0F0F0F;
    height: 30px;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

.topLista {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}


.containerColTittle .fontRed {
    color: #E32832;
}

.listaMaquinas a {
    text-decoration: none;
}

.containerColTittle:hover {
    background-color: #090909;
    transition: .5s;
    /* transform: scale(1.1); */
}

.chart-bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerGraphi2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 450px;
    height: 225px;
    justify-content: center;
    border-radius: 1 0px;
    background-color: #161616;
    margin-top: 20px;
}

.containerGraphi2 span {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.containerGraphi2 .littleInfo {
    font-size: 15px;
    font-weight: normal;
}

.containerGraphi2 span {
    font-size: 16px;
    margin-left: 15px;
}

.chart1 {
    display: flex;
    height: 160px;
    margin: 0 0 0 10px;
}

.chart {
    display: flex;
    justify-content: center;
    width: 273px;
    height: 250px;
}

/* ALERTAS */
.toast-stack {
    position: fixed;
    top: 100px;
    right: 32px;
    z-index: 30;
}

.toast {
    margin: 12px 0;
    width: 100%;
    max-width: 320px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #393636;
    box-shadow: 0px 0px 4px #00000033;
    gap: 8px;
    animation: tchautoast ease-in 6s;
    color: #f1f1f1;
}

.warning,
.danger {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    gap: 8px;
}

.toast-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    font-size: 20px;
}

.warning .toast-icon {
    color: #5f070c;
    background-color: rgb(240, 123, 123);
}

.warning~.timer {
    height: 2px;
    background-color: #dc2626;
    width: 100%;
    animation: timer-animation infinite ease-in 5s;
}


.danger .toast-icon {
    color: #dc2626;
    background-color: #fee2e2;
}

.danger~.timer {
    height: 2px;
    background-color: #dc2626;
    width: 100%;
    animation: timer-animation infinite ease-in 6s;
}


.toast .close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 4px;
    font-size: 20px;
    color: #f1f1f1;
    background-color: #393636;
    cursor: pointer;
}

@keyframes timer-animation {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}


@keyframes tchautoast {
    from {
        display: block;
    }

    to {
        display: none;
    }
}

button.close:hover {
    background-color: #302c2c;
}


.Corpo_alerta {
    display: flex;
    flex-direction: column;
}