* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /*background-color: var(--main-background);
    */
    font-family: var(--main-font-full);
}

body {
    background-color: #000;
}


section {
    background-color: var(--main-background);
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #5f070c;
    border-radius: 7px;
    border: 2px solid #4e0909;
}


#home {
    width: 100%;
    height: 100vh;
    max-height: 512px;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Navigation Bar */

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

img {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 6vw;
    font-weight: 300;
    font-size: 13px;
}

.nav-icon-bars {
    display: none;
}

nav ul li a {
    color: var(--main-branco);
    margin: 5px;
    padding: 5px;
}

nav ul li a:hover {
    color: #a3060e;
    transition: 1s;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.button-group a {
    color: var(--main-branco);
}

.btn-login {
    cursor: pointer;
    border-radius: 8px;
    size: 12px;
    border: none;
    color: var(--main-branco);
    background-color: #000;
    margin-right: 2vw;
}

.btn-signup {
    cursor: pointer;
    border-radius: 8px;
    size: 15px;
    border: none;
    color: var(--main-branco);
    background: linear-gradient(to right, #650d11, #930e15);
}

.btn-signup:hover {
    background: linear-gradient(to right, #5f090d, #70060c);
}

/* Landing Page */

.caixa-h1-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--main-branco);
    /* padding-top: 17vh; */
}

.caixa-h1 {
    max-height: 100px;
}

.caixa-h1 h1 {
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    letter-spacing: -1px;
}

.caixa-h1 p {
    padding-top: 1vh;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.caixa-h1 img {
    height: auto;
    width: 100px;
    position: absolute;
    overflow: clip;
    overflow-clip-margin: content-box;
    animation-name: point;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none;
}

.caixa-h1 .point1 {
    height: auto;
    width: 200px;
    margin-left: -20vw;
}

.caixa-h1 .point2 {
    margin-top: -20vh;
    margin-left: 14vw;
    height: auto;
    width: 150px;
}

.caixa-h1 .point3 {
    margin-top: 13vh;
    margin-left: 44vw;
    height: auto;
    width: 200px;
}

.caixa-h1 .point3 {
    margin-top: 8vh;
    margin-left: 50vw;
}

.button-landing {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn-saiba {
    cursor: pointer;
    font-size: 13px;
    padding: 1.5vh 1.8vw;
    border-radius: 11px;
    text-decoration: none;
    font-weight: 500;
    color: var(--main-branco);
    background: linear-gradient(to right, #930e15, #650d11);
}

.btn-saiba:hover {
    background: linear-gradient(to right, #660a0e, #70060c);
}

/* Section sobre o propósito */

#section-proposito {
    width: 100%;
    min-height: 50vh;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-proposito {
    width: 100%;
    padding: 20px;
    color: var(--main-branco);
    padding: 6vh 0;
    border-radius: 5px;
    border: 1px rgba(255, 255, 255, 0.1) solid;
}

.caixa-proposito h2 {
    font-size: 28px;
    font-weight: 600;
}

.caixa-proposito span {
    color: var(--main-vermelho-primario);
}

/* .container-proposito {
    padding: 1.8vh 5vw;
} */

.box-imgs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding-top: 5vh;
    flex-wrap: wrap;
}

.box-imgs .card {
    width: 100%;
    max-width: 300px;
}

.box-imgs img {
    height: auto;
    width: 100%;
    border-radius: 30px;
}

.box-imgs h3 {
    color: #909297;
    font-size: 25px;
    font-weight: 600;
    margin-top: 1.2vh;
}

.box-imgs p {
    color: var(--main-branco);
    font-weight: 300;
    font-size: 13px;
    margin-top: 1.2vh;
    text-align: center;
}

.box-imgs div {
    text-align: center;
}

.texto-final-proposito {
    display: flex;
    justify-content: center;
    padding-top: 12vh;
    font-size: 16px;
}

/* Section sobre o Nosso Compromisso */

#section-compromisso {
    width: 100%;
    max-height: fit-content;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-compromisso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-branco);
}

.caixa-compromisso img {
    height: auto;
    width: 480px;
}

.content-compromisso {
    width: 50%;
    margin: 0 auto;
    /* margin-top: 18vh; */
}

.content-compromisso h3 {
    font-size: 30px;
    font-weight: 600;
}

.content-compromisso span {
    color: var(--main-vermelho-primario);
}


.content-compromisso p {
    font-size: 14px;
    font-weight: 300;
}

.content-compromisso img {
    height: auto;
    width: 150px;
    margin-right: 3vw;
}

/* Section Sobre Nós */

#section-sobre-nos {
    width: 100%;
    max-height: fit-content;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sobrenos {
    padding: 4vw;
}

.container-sobrenos h2 {
    color: var(--main-branco);
    font-size: 40px;
    text-align: center;
    line-height: 5.5vh;
    font-weight: 600;
    margin-bottom: 8vh;
    margin-left: 2vw;
}

.container-sobrenos span {
    color: var(--main-vermelho-primario);
}


.content-sobrenos {
    color: var(--main-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-sobrenos img {
    height: auto;
    width: 680px;
    overflow: clip;
    overflow-clip-margin: content-box;
    animation-name: laptop;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none;
}

.texto-left p {
    font-size: 16.5px;
    /* line-height: 3vh; */
    font-weight: 400;
}

.texto-left span {
    color: var(--main-vermelho-primario);
    font-weight: 600;
}

.texto-right p {
    text-align: right;
    font-size: 16.5px;
    /* line-height: 3vh; */
    font-weight: 400;
}

.texto-final {
    color: var(--main-branco);
    margin-top: 5vh;
}

.texto-final p {
    text-align: center;
    font-size: 16.5px;
    font-weight: 400;
    /* line-height: 3vh; */
}

/* Fale Conosco */

.container-faleconosco {
    margin: 45vh 15vw;
}

.content-faleconosco {
    display: flex;
    justify-content: space-between;
}

.content-faleconosco img {
    height: auto;
    width: 420px;
    animation-name: man-img;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none;
}

.box-form {
    color: var(--main-branco);
    background-color: rgb(10, 10, 10);
    border-radius: 25px;
    padding: 4vh 7vw;
    align-items: center;
}

.box-form h1 {
    font-size: 28px;
}

.box-form input {
    color: var(--main-branco);
    background-color: #2E2E2E;
    border-radius: 5px;
    width: 100%;
    padding: 6px 10px;
    margin: 2vh 0;
    box-sizing: border-box;
}

.box-form .input-msg {
    padding: 55px 10px;
}

.btn-faleconosco {
    cursor: pointer;
    border-radius: 8px;
    size: 18px;
    border: none;
    color: var(--main-branco);
    width: 12vw;
    height: 6vh;
    background: linear-gradient(to right, #650d11, #930e15);
    position: relative;
}

.btn-faleconosco:hover {
    background: linear-gradient(to right, #5f090d, #70060c);
}

/* Footer */


.footer-content {
    color: var(--main-branco);
    display: flex;
    justify-content: space-between;
    padding: 6vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 52%, rgba(17, 2, 3, 1) 100%, rgba(38, 5, 7, 1) 100%);
}

.footer-descriçao p {
    font-size: 13px;
    font-weight: 300;
}

.footer-links {
    margin-right: 4vw;
    line-height: 2.5vh;
    margin-top: 6vh;
}

.footer-links li {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 1.5vh;
}

.footer-links a {
    color: var(--main-branco);
}

.footer-links a:hover {
    color: var(--main-vermelho-primario);
}

.footer-contato {
    margin-right: 5vw;
    margin-top: 3vh;
}

.footer-contato img {
    height: auto;
    width: 160px;
    margin-left: 0.7vw;
    margin-bottom: 1.6vh;
}

.footer-contato p {
    font-size: 13px;
    font-weight: 300;
}

.footer-contato h5 {
    font-size: 15px;
    text-align: center;
}

.copyright {
    font-size: 11px;
    text-align: left;
    font-weight: 300;
    color: var(--main-branco);
    background-color: #110203;
}

/* Botão de scroll inferior */

#scrollUpButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 50px;
    height: 50px;
    background: linear-gradient(to right, #650d11, #930e15);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease;
}

#scrollUpButton:hover {
    background-color: linear-gradient(to right, #650d11, #930e15);
}

/* ANIMAÇÕES */

@keyframes point {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }

}

@keyframes man-img {

    0% {
        transform: translate(0%, 0);
    }

    50% {
        transform: translate(0, -25px);
    }

    100% {
        transform: translate(0, 0);
    }

}

@keyframes laptop {

    0% {
        transform: translate(0%, 0);
    }

    50% {
        transform: translate(0, -15px);
    }

    100% {
        transform: translate(0, 0);
    }

}