* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: #191919;
}

html,
body {
    display: flex;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
}



/* Início da nav bar lateral */ 

.lateral {
    height: 100%;
    width: 18%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    box-shadow: -1px 4px 11px rgba(0, 0, 0, 0.13);
}

.lateral .listaBaixo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
}

.lista a i {
    font-size: 30px;
    color: #FFF;
    background-color: #000;
}

.lista span {
    color: #FFF;
    font-size: 18px;
    background-color: #000;
}

.lista.destaque .lista {
    color: rgba(191, 25, 34, 1);
    background-color: #000;

}

.destaque:before {
    color: rgba(191, 25, 34, 1);
    background-color: #000;

}

.navHeader {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 70%;
    padding: 10px;
    background-color: #000;
}

.navHeader span {
    font-size: 16px;
    color: #FFF;
    padding: 0 0 20px 0;
    background-color: #000;
}

.navHeader img {
    width: 105px;
    background-color: #000;
}


.navegacão {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18%;
    background-color: #000;
    position: fixed;
}

.navegacão ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #000;
}

.navegacão ul li {
    display: flex;
    align-items: center;
    height: 65px;
    list-style: none;
    background-color: #000;
}

.navegacão ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    gap: 15px;
    letter-spacing: 1px;
    width: 100%;
    background-color: #000;
}

.navegacão ul li a .icone {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
    background-color: #000;
}


/* FIM DA NAV BAR */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
}

.content-left {
    flex-direction: column;
    margin-left: 20vw;
    margin-top: 4vh;
}

.content-left h2 {
    font-size: 26px;
    margin-bottom: 2vh;
}

.relatorio {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.relatorio div {
    background-color: #161616;
}

.relatorio .titulo {
    background-color: #161616;
    padding: 3.2vh 2.3vw;
}

.relatorio .titulo h3 {
    font-size: 20px;
    margin-bottom: 1vh;
    background-color: #161616;
}

.relatorio .titulo h5 {
    font-size: 13px;
    font-weight: 500;
    background-color: #161616;
}

.popup {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.popup div {
    text-align: left;
    padding: 20px 6px;
    height: auto;
    width: 150px;
    border-radius: 15px;
    background-color: #2D2D2D;
    flex: 1;
    align-items: center;
}

.alertas img,
.maquinas img,
.usuarios img {
    height: auto;
    width: 32px;
    background: none;
    margin-bottom: 10px;
    margin-left: 10px;
}

.alertas span,
.maquinas span,
.usuarios span {
    background-color: #2D2D2D;
    margin-top: 2px;
    margin-left: 5px;
}

.popup .alertas,
.popup .maquinas,
.popup .usuarios {
    margin: 4vh 4vh;
    font-size: 13px;
    line-height: 2.3vh;
}

.popup .quantidade {
    font-size: 26px;
    margin-left: 5px;
    margin-top: 1vh;
}

.quantidade {
    font-size: 28px;
    background-color: #2D2D2D;
    font-weight: bold;
    color: #fff;
}


/* LISTA DE MÁQUINAS */

.box-topo {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 60px;
    background-color: #161616;
    padding: 2vh 3vw;
    align-items: center;
}

.box-topo span {
    font-size: 22px;
}

.listamaquinas .lista {
    display: flex;
    justify-content: space-between;
}

.maquina1, .maquina3, .maquina5,
.maquina2, .maquina4, .maquina6 {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 3vh;
    padding: 23px 20px;
    text-align: center;
    align-items: center;
}

.maquina1, .maquina3 ,.maquina5 {
    background-color: #0F0F0F;
}

.maquina2, .maquina4, .maquina6 {
    background-color: #090909;
}

.loc {
    color: #E32832;
    background: none;
}

.lista span {
    font-size: 12px;
    font-weight: 500;
}


/* GRÁFICOS */

.content-right {
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    margin-left: 6vw;
}

.container-grafico span {
    font-size: 18px;
    font-weight: 600;
}

.graficos {
    display: flex;
    flex-direction: column;
    gap: 7vh;
    max-height: 500px;
    max-width: 800px;
}

.grafico1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    height: 250px;
    justify-content: center;
    border-radius: 20px;
}

.container-grafico2 {
    display: inline-block;
}

.container-grafico2 span {
    font-size: 14px;
    font-weight: 400;
}

.container-grafico2 h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1vh;
}

.grafico2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    height: 250px;
    justify-content: center;
    border-radius: 20px;
}